<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Customer</h3>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          name="email"
          [(ngModel)]="customer.email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Your Password"
          name="pass"
          [(ngModel)]="customer.password"
        />
      </div>
      <div class="form-group">
        <input
          class="btnSubmit"
          type="button"
          value="Login"
          (click)="onCustomerLogin()"
        />
      </div>
      <!-- <div class="form-group">
        <a href="#" class="btnForgetPwd">Forget Password?</a>
      </div> -->
      <a href="#" class="btnForgetPwd" routerLink="/customer"
        >create an Account</a
      >
    </div>
    <div class="col-md-6 login-form-2">
      <div class="login-logo">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      </div>

      <h3>Admin</h3>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Your Email *"
          name="adminEmail"
          [(ngModel)]="admin.email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Your Password *"
          name="adminPass"
          [(ngModel)]="admin.password"
        />
      </div>
      <div class="form-group">
        <input
          class="btnSubmit"
          type="button"
          value="Login"
          (click)="onAdminLogin()"
        />
      </div>
      <div class="form-group">
        <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>
      </div>
    </div>
  </div>
</div>
