<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer</title>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Customer</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"
            >Customer List <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav> -->
    <main>
      <table class="table">
        <thead>
          <tr>
            <td scope="col"></td>
            <td scope="col">Name</td>
            <td scope="col">Email</td>
            <td scope="col">Phone Number</td>
            <td scope="col">Address</td>
            <td scope="col">Registration Date</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <th scope="row">
              <img
                [src]="customer.imageUrl"
                class="rounded-circle avatar"
                alt=""
              />
            </th>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phoneNum }}</td>
            <td>{{ customer.address }}</td>
            <td
              class="card-text"
              [ngStyle]="{
                color: checkRegistrationYear(customer.registrationDate)
              }"
            >
              {{ customer.registrationDate }}
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
