<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Product</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"
            >Home<span class="sr-only"></span
          ></a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav> -->
    <main>
      <div class="all-pro-container">
        <div class="card" *ngFor="let product of products" style="width: 18rem">
          <img [src]="product.imageUrl" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">${{ product.price }}</p>
            <button class="btn btn-primary" (click)="onViewDetail(product.id)">
              view details
            </button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary"
          id="add-product-btn"
          (click)="showProductForm()"
        >
          Add Product
        </button>
      </div>
      <div class="input-container text-center" style="display: none">
        <h2>Input Product</h2>
        <label
          >Name:
          <input type="text" class="form-control" name="name" id="name" />
        </label>
        <label
          >Image Url:
          <input type="text" class="form-control" name="url" id="imageUrl" />
        </label>
        <label
          >description:
          <input type="text" class="form-control" name="desc" id="desc" />
        </label>
        <label
          >Price:
          <input type="number" class="form-control" name="price" id="price" />
        </label>
        <button id="finish-add" class="btn btn-dark" (click)="onAddProduct()">
          Done
        </button>
      </div>

      <router-outlet></router-outlet>
    </main>
  </body>
</html>
