<div
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  class="bg-product"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comfirm Delete</h5>
      </div>
      <div class="modal-body">
        <div class="card card-product" style="width: 18rem">
          <img [src]="product.imageUrl" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">${{ product.price }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="returnBack()">
          Return
        </button>
        <button type="button" class="btn btn-primary" (click)="finishDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
