<div class="input-container text-center">
  <h2>Edit Product</h2>
  <label
    >Name:
    <input type="text" class="form-control" name="name" id="name" />
  </label>
  <label
    >Image Url:
    <input type="text" class="form-control" name="url" id="imageUrl" />
  </label>
  <label
    >description:
    <textarea class="form-control" name="desc" id="desc"></textarea>
  </label>
  <label
    >Price:
    <input type="number" class="form-control" name="price" id="price" />
  </label>
  <button id="finish-add" class="btn btn-dark">Done</button>
</div>
